@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ehfjfv{
  height: 80px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Avenir', sans-serif;
}
.hfejfe{
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
.ebfn{
  display: flex;
  margin-left: 50px;
  font-size: 15px;
  margin-top: 8px;
  font-weight: 600;
  flex-direction: row;
  gap: 50px;
}
.hhbnbdv{
  display: none;
}
@media screen and (min-width: 1135px) {
  .hhbnbdv{
    display: flex;
  }
}