.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.webbody{
  height: 100vh;
  width: 100vw;
  background-color: rgb(204, 198, 198);
}
/* Base styles for mobile and tablet devices (default to hidden) */
.webbody {
  display: none;
}

/* Show the page only on large screens (laptop/desktop) */
@media (min-width: 700px) {
  .webbody {
    display: block;
  }
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jffnjvfnv{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* overflow: hidden; */
}
.mnvnfv{
  width: 20vw;
  height: 100vh;
  background-color: white;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}
.mnvnfv::-webkit-scrollbar{
  display: none;
}
.dnjfnjn{
  width: 80vw;
  height: 100vh;
  background-color: transparent;
}
.jjdnjvnv{
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  /* justify-content: space-evenly; */
}
.enjfndj{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nnnvnfnvf{
  position: relative;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* width: 100%; */
  margin-left: 30px;
  font-weight: 600;
  display: flex;
  justify-content: start;
}
.dnjnkfjk{
  position: relative;
  margin-top: 10px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  width: 80%;
  margin-left: 30px;
  font-weight: 400;
  display: flex;
  justify-content: start;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.dnjnkfjk:hover{
  background-color: rgb(175, 175, 101) !important;
  color: black !important;
  font-weight: 500;
  
}
.fnjnfjn {
  position: relative;
  width: 98%;
  height: 100px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Black shadow at the bottom */
}
.menfd{
  position: relative;
  left:40px;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 30%;
  font-weight: 600;
}
.hehfhejfe{
  position: relative;
  left:40px;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 32px;
  font-size: 12px;
  color: grey;
  font-weight:500;
}
.jjnjnjnv{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.njdnvv{
  position: relative;
  margin-top: 20px;
  width: 48%;
  height: 100px;
  /* background-color: white; */
}
.jjvnjvnfv{
  width: 100%;
  position: relative;
  height:700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Black shadow at the bottom */
}
.webbody::-webkit-scrollbar{
  display: none;
}
.jndjvnjf{
  position: relative;
  top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  left: 30px;
}
.jdjnjf{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.jfhjhjvh{
  position: relative;
  margin-top: 60px;
  width: 150px;
  height: 180px;
  border: 0.5px solid rgb(202, 199, 199);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  /* gap: 10px; */
}
.jfhjhjvh:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  color: #000 !important;
  border: 1px solid black !important;
}
.jjnfjnfjvn{
  position: relative;
  margin-top: 30px;
  width: 99.9%;
  height: 58%;
  background-color: white;
  border-radius: 20px;
  /* margin: 20px; */
}
.jnjnjvnf{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.jdjvjf{
  height: 180px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.jdjvjf:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}
.hdffbj{
  font-size: 30px;
  color:blue;
  font-weight: bold;
}
.jhdjfhv{
  position: relative;
  /* width: 100%; */
  /* height: 0px; */
  /* background-color: red; */
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 30px;
  margin-right: 65px;
  padding-right: 10px;
  cursor: pointer;
  /* padding-left: 10px; */
}
.jhdjfhv:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}
.ddhhdb{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.kdjvfj{
  position: relative;
  width: 75vw;
  /* width: 100%; */
  height: fit-content;
  /* background-color: red; */
  margin-top: 50px;
  left: 30px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}
.jnvjfnjf{
  position: relative;
  width: 97%;
  height: 93%;
  background-color: white;
  margin-top: 30px;
  overflow-y: scroll;
}
.jnvjfnjf::-webkit-scrollbar{
  display: none;
}
.jffbvfjv{
  position: relative;
  margin-top: 30px;
  left: 30px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: 600; */
}
.divider{
  height: 1px;
  position: relative;
  width: 90%;
  margin-left: 30px;
  background-color: rgb(180, 171, 171);
  margin-top: 15px;
}
.jnjvnfjb{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}
.searchinput{
  height: 30px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  font-weight: 500;
}
.jfnvjnfb{
  border: 1px solid black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}
.knjfnbnf{
  width: 95%;
  margin-left: 30px;
  display: flex;
  margin-top: 20px;
}